@model NetNews.Models.AppDataModels.LoginViewModel

@using Microsoft.AspNetCore.Http
@using AppHelpers.App_Code
@inject IHttpContextAccessor HttpContextAccessor
@{
    var Url = "https://" + Context.Request.Host + Context.Request.Path; //get current url path

    Layout = null;

    ViewBag.ActiveContact = "active"; //set active nav
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- 24 NEWS Head -->
    <partial name="~/Views/Shared/Templates/24News/_Head.cshtml" />
</head>
<body>
    <div class="container-fluid fh5co_header_bg">
        <!-- Breaking News-->
        <partial name="~/Views/Shared/Templates/24News/_BreakingNewsTop.cshtml" />
    </div>
    <div class="container-fluid">
        <div class="container">
            <!-- Logo Navigation -->
            <partial name="~/Views/Shared/Templates/24News/_LogoNav.cshtml" />
        </div>
    </div>
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
        <div class="container padding_786">
            <!-- Navigation -->
            <partial name="~/Views/Shared/Templates/24News/_Navigation.cshtml" />
        </div>
        <!-- Action messages partial -->
        <partial name="~/Views/Shared/_ProcessMessage.cshtml" />
    </div>

    <div class="container-fluid contact_us_bg_img" style="background: #726e6e">
        <div class="container">
            <div class="row">
                <a asp-action="Index" asp-controller="Home" class="fh5co_con_123"><i class="fa fa-home"></i></a>
                <a href="#" class="fh5co_con pt-2"> Contact Us </a>
            </div>
        </div>
    </div>
    <div class="container-fluid  fh5co_fh5co_bg_contcat">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-4 py-3">
                    @if (!string.IsNullOrEmpty(ModelHelper.GetSiteLookupData("SiteNumber")))
                    {
                        <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                            <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                                <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-phone"></i></span> </div>
                            </div>
                            <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                                <span class="c_g d-block">Call Us</span>
                                <span class="d-block c_g fh5co_contact_us_no_text">@ModelHelper.GetSiteLookupData("SiteNumber")</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
                <div class="col-md-4 py-3">
                    @if (!string.IsNullOrEmpty(ModelHelper.GetSiteLookupData("SiteEmail")))
                    {
                        <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                            <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                                <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-envelope"></i></span> </div>
                            </div>
                            <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                                <span class="c_g d-block">Have any questions?</span>
                                <span class="d-block c_g fh5co_contact_us_no_text">@ModelHelper.GetSiteLookupData("SiteEmail")</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
                <div class="col-md-4 py-3">
                    @if (!string.IsNullOrEmpty(ModelHelper.GetSiteLookupData("SiteAddress")))
                    {
                        <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                            <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                                <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-map-marker"></i></span> </div>
                            </div>
                            <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                                <span class="c_g d-block">Address</span>
                                <span class="d-block c_g fh5co_contact_us_no_text"> @ModelHelper.GetSiteLookupData("SiteAddress")</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="col-12 text-center contact_margin_svnit ">
                <div class="text-center fh5co_heading py-2">Contact Us</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1" id="NewPostForm">
                    <form class="row" id="fh5co_contact_form" asp-controller="Contact" asp-action="SendContact" method="post">
                        <div class="col-12 py-3">
                            <input type="text" class="form-control fh5co_contact_text_box" id="Name" name="Name" placeholder="Enter Your Name" required />
                        </div>
                        <div class="col-6 py-3">
                            <input type="text" class="form-control fh5co_contact_text_box" id="Email" name="Email" placeholder="E-mail" required />
                        </div>
                        <div class="col-6 py-3">
                            <input type="text" class="form-control fh5co_contact_text_box" id="Subject" name="Subject" placeholder="Subject" required />
                        </div>
                        <div class="col-12 py-3">
                            <textarea class="form-control fh5co_contacts_message" id="Message" name="Message" placeholder="Message" required></textarea>
                        </div>
                        <div class="col-12 py-3 text-center">
                            <button type="submit" class="btn contact_btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid fh5co_footer_bg pb-3">
        <div class="container animate-box">
            <!-- Footer Top -->
            <partial name="~/Views/Shared/Templates/24News/_FooterTop.cshtml" />
        </div>
    </div>
    <div class="container-fluid fh5co_footer_right_reserved">
        <!-- Footer Bottom -->
        <partial name="~/Views/Shared/Templates/24News/_FooterBottom.cshtml" />
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
    </div>

    <!-- 24 NEWS Footer Scripts -->
    <partial name="~/Views/Shared/Templates/24News/_FooterScripts.cshtml" />

</body>
</html>