@using AppHelpers.App_Code

<div class="container animate-box">
    <div>
        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Featured</div>
    </div>
    <div class="owl-carousel owl-theme" id="slider2">
        @LayoutHelper24News.GetFeaturedNews(8)
    </div>
</div>