<div class="container">
    <div class="row  ">
        <div class="col-12 col-md-6 py-4 Reserved">
            © Copyright @DateTime.Now.Year, All rights reserved.
            <a href="https://impactgambia.net/" title="The ImpactGambia Website" class="text-danger">ImpactGambia</a>
        </div>
        <div class="col-12 col-md-6 spdp_right py-4">
            <a asp-controller="Home" asp-action="Index" class="footer_last_part_menu">Home</a>
            <a asp-controller="About" asp-action="Index" class="footer_last_part_menu">About</a>
            <a asp-controller="Contact" asp-action="Index" class="footer_last_part_menu">Contact</a>
            <a asp-controller="Sitemap" asp-action="Index" class="footer_last_part_menu">Sitemap</a>
        </div>
    </div>
</div>