@using AppHelpers.App_Code

<div class="w-100">
    <div class="fh5co_heading fh5co_heading_border_bottom pt-5 pb-2 mb-4 ml-2 text-dark">More from Impact Gambia</div>
</div>
<div class="col-12 text-center pb-4 pt-4">
    <!-- Get More News -->
    <div class="row">
        @LayoutHelper24News.GetMoreBodyNews(10, 12)
    </div>
</div>