@using AppHelpers.App_Code

<div class="row mx-0">
    <div class="col-md-3">
        <div class="col-sm-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="row">
                @LayoutHelper24News.GetFeaturedMusic(1, 1)
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
        <div class="row">
            <div class="col-sm-12 mb-2">
                @LayoutHelper24News.GetFeaturedMusic(0, 1)
            </div>
        </div>
    </div>

<div class="col-md-3">
    <div class="col-sm-12 paddding animate-box" data-animate-effect="fadeIn">
        <div class="row">
            @LayoutHelper24News.GetFeaturedMusic(2, 1)
        </div>
    </div>
</div>
</div>
