@using AppHelpers.App_Code

<div class="container animate-box" data-animate-effect="fadeIn">
    <div>
        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending News</div>
    </div>
    <div class="owl-carousel owl-theme js" id="slider1">
        @LayoutHelper24News.GetTrendingCelebrityNews(6)
    </div>
</div>