@using AppHelpers.App_Code

<div class="container animate-box" data-animate-effect="fadeIn">
    <div>
        <div class="fh5co_heading fh5co_heading_border_bottom pt-5 pb-2 mb-4  text-dark">Pick of the Week</div>
    </div>
    <div>
        <div class="owl-carousel owl-theme" id="slider3">
            @LayoutHelper24News.GetTrendingMusic(3, 8)
        </div>
    </div>
</div>