@model NetNews.Models.PostsDataModel.EmbeddedMusicModel

@using Microsoft.AspNetCore.Http
@using AppHelpers.App_Code
@inject IHttpContextAccessor HttpContextAccessor
@{
    var Url = "https://" + Context.Request.Host + Context.Request.Path; //get current url path

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- ADMIN Head -->
    <partial name="~/Views/Shared/AccountLayout/_Head.cshtml" />
</head>

<body class="sb-nav-fixed">
    <!-- ADMIN Navigation -->
    <partial name="~/Views/Shared/AccountLayout/_Navigation.cshtml" />
    <div id="layoutSidenav">
        <!-- ADMIN Sidebar -->
        <partial name="~/Views/Shared/AccountLayout/_LeftSideBar.cshtml" />
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Create Embedded Music</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="ManageEmbeddedMusic">Manage Embedded Music</a></li>
                        <li class="breadcrumb-item active">Embedded Music</li>
                    </ol>
                    <!-- Content -->
                    <!-- Action messages partial -->
                    <partial name="~/Views/Shared/_ProcessMessage.cshtml" />

                    <div class="row">
                        <div class="col-lg-12 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 main pt-0 mt-3">
                                            <p class="lead d-sm-block">New Embedded Music</p>

                                            <div class="row mb-3">
                                                <form id="NewPostForm" asp-controller="Admin" asp-action="CreateEmbeddedMusic" method="post" enctype="multipart/form-data">
                                                    <div asp-validation-summary="All" class="text-danger"></div>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
                                                            <label asp-for="EmbedTitle"></label>
                                                            <input type="text" class="form-control count-chars" data-chars-max="250" data-msg-color="danger" maxlength="250" asp-for="EmbedTitle" spellcheck="true" placeholder="Title" required="">
                                                            <span asp-validation-for="EmbedTitle" class="text-danger"></span>
                                                        </div>

                                                        <div class="col-sm-12 form-group">
                                                            <div class="form-group">
                                                                <label asp-for="EmbedType">Select Embed Type:</label>
                                                                <select class="form-control" asp-for="EmbedType" required>
                                                                    <option value="">Choose embed type</option>
                                                                    <option value="AppleMusicAlbum">Apple Music Album</option>
                                                                    <option value="AppleMusicSingle">Apple Music Single</option>
                                                                    <option value="Soundcloud">Soundcloud Music</option>
                                                                    <option value="MixCloud">MixCloud Music</option>
                                                                    <option value="Audiomack">Audiomack Music</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
                                                            <label asp-for="EmbedCode"></label>
                                                            <textarea type="text" class="form-control" rows="6" asp-for="EmbedCode" spellcheck="true" required></textarea>
                                                            <span asp-validation-for="EmbedCode" class="text-danger"></span>
                                                        </div>

                                                        <div class="col-lg-4 offset-lg-8 col-xl-4 offset-xl-8 mb-3">
                                                            <a class="btn btn-danger mr-2" asp-action="ManageEmbeddedMusic" asp-controller="Admin" role="button">
                                                                <i class="fas fa-times mr-1"></i> Cancel
                                                            </a>
                                                            <button id="CreateCategoryButton" class="btn btn-success disable-on-click" type="submit">
                                                                <i class="fas fa-paper-plane mr-1"></i> Post
                                                            </button>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                            <!--/row-->
                                        </div>

                                        <!--/main col-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
            <!-- ADMIN Footer -->
            <partial name="~/Views/Shared/AccountLayout/_AdminFooter.cshtml" />
        </div>
    </div>

    <!-- Modals data -->
    <partial name="~/Views/Shared/Modals/_ActionModals.cshtml" view-data="ViewData" />

    <!-- ADMIN RESOURCES -->
    <partial name="~/Views/Shared/AccountLayout/_AdminFooterScripts.cshtml" />
</body>
</html>
