
@{
    ViewData["Title"] = "Empty";
}

<!-- Breaking news partial -->
<partial name="~/Views/Shared/HomeLayout/_BreakingNews.cshtml">

<div class="content-wrapper">
    <div class="container">
        <h1 class="text-center">EMPTY LAYOUT</h1>
    </div>
</div>
