<div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; <a href="https://www.impactgambia.net/" target="_blank">ImpactGambia</a> @DateTime.Now.Year</div>
                <div>
                    <a href="https://www.termsandconditionsgenerator.com/live.php?token=5xkFlX7XVrgIKIar64FB3ICNQY8M9bv9" target="_blank">Privacy Policy</a>
                    &middot;
                    <a href="https://www.termsandconditionsgenerator.com/live.php?token=5xkFlX7XVrgIKIar64FB3ICNQY8M9bv9" target="_blank">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>