<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Post Views for Past 10 Days
            </div>
            <div class="card-body"><canvas id="myAreaChart" class="w-100 h-100"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Post Views Past by Month (@DateTime.Now.Year)
            </div>
            <div class="card-body"><canvas id="myBarChart" class="w-100 h-100"></canvas></div>
        </div>
    </div>
</div>