@model NetNews.Models.AppDataModels.LoginViewModel

@using Microsoft.AspNetCore.Http
@using AppHelpers.App_Code
@inject IHttpContextAccessor HttpContextAccessor
@{
    var Url = "https://" + Context.Request.Host + Context.Request.Path; //get current url path

    Layout = null;

    ViewBag.ActiveEntertainment = "active"; //set active nav
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- 24 NEWS Head -->
    <partial name="~/Views/Shared/Templates/24News/_Head.cshtml" />
</head>
<body>
    <div class="container-fluid fh5co_header_bg">
        <!-- Breaking News-->
        <partial name="~/Views/Shared/Templates/24News/_BreakingNewsTop.cshtml" />
    </div>
    <div class="container-fluid">
        <div class="container">
            <!-- Logo Navigation -->
            <partial name="~/Views/Shared/Templates/24News/_LogoNav.cshtml" />
        </div>
    </div>
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
        <div class="container padding_786">
            <!-- Navigation -->
            <partial name="~/Views/Shared/Templates/24News/_Navigation.cshtml" />
        </div>
        <!-- Action messages partial -->
        <partial name="~/Views/Shared/_ProcessMessage.cshtml" />
    </div>

    <div class="container-fluid paddding mb-5">
        <!-- Top Video News -->
        <partial name="~/Views/Shared/Templates/24News/_VideoTopNews.cshtml" />
    </div>


    <div class="container-fluid fh5co_video_news_bg pb-4">
        <!-- Top 10 Videos -->
        <partial name="~/Views/Shared/Templates/24News/_TopTenVideos.cshtml" />
    </div>

    @if (LayoutHelper24News.HasAnyNews("EntertainmentNewsPost") || LayoutHelper24News.HasAnyNews("EntertainmentVideoPost") || LayoutHelper24News.HasAnyNews("EntertainmentAudioPost"))
    {
        <div class="container-fluid pt-3">
            <!-- Trending News -->
            <partial name="~/Views/Shared/Templates/24News/_TrendingCelebrityNews.cshtml" />
        </div>
    }


    <div class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <!-- Celebrity Body News -->
                <partial name="~/Views/Shared/Templates/24News/_CelebrityBodyNews.cshtml" />

                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                    <!-- Tags Div -->
                    <partial name="~/Views/Shared/Templates/24News/_TagsDiv.cshtml" />

                    <!-- Most Popular News -->
                    <partial name="~/Views/Shared/Templates/24News/_MostPopularNews.cshtml" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid fh5co_footer_bg pb-3">
        <div class="container animate-box">
            <!-- Footer Top -->
            <partial name="~/Views/Shared/Templates/24News/_FooterTop.cshtml" />
        </div>
    </div>
    <div class="container-fluid fh5co_footer_right_reserved">
        <!-- Footer Bottom -->
        <partial name="~/Views/Shared/Templates/24News/_FooterBottom.cshtml" />
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
    </div>

    <!-- 24 NEWS Footer Scripts -->
    <partial name="~/Views/Shared/Templates/24News/_FooterScripts.cshtml" />

</body>
</html>