@model IEnumerable<NetNews.Models.PostsDataModel.CategoriesModel>

@using Microsoft.AspNetCore.Http
@using AppHelpers.App_Code
@inject IHttpContextAccessor HttpContextAccessor
@{
    var Url = "https://" + Context.Request.Host + Context.Request.Path; //get current url path

    Layout = null;

    ViewBag.ActiveAllNews = "active"; //set active nav
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- 24 NEWS Head -->
    <partial name="~/Views/Shared/Templates/24News/_Head.cshtml" />
</head>
<body>
    <div class="container-fluid fh5co_header_bg">
        <!-- Breaking News-->
        <partial name="~/Views/Shared/Templates/24News/_BreakingNewsTop.cshtml" />
    </div>
    <div class="container-fluid">
        <div class="container">
            <!-- Logo Navigation -->
            <partial name="~/Views/Shared/Templates/24News/_LogoNav.cshtml" />
        </div>
    </div>
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
        <div class="container padding_786">
            <!-- Navigation -->
            <partial name="~/Views/Shared/Templates/24News/_Navigation.cshtml" />
        </div>
        <!-- Action messages partial -->
        <partial name="~/Views/Shared/_ProcessMessage.cshtml" />
    </div>



    <div class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <h2 class="text-center mt-4">
                All Categories
            </h2>
            <div class="row mx-0 animate-box" data-animate-effect="fadeInUp">
                <!-- Get Category Summary -->
                @foreach (var item in Model)
                {
                    <div class="col-sm-12 col-md-4 mb-4">
                        <div class="card bg-light text-dark">
                            <div class="card-body p-4">
                                <a href="~/Category/@item.ShortCategoryName" class="text-dark" >
                                    <h1>
                                        @item.CategoryName
                                        <span class="badge badge-pill badge-dark d-none">
                                            <small>@PostHelper.GetTotalCategoryPosts(item.CategoryID)</small>
                                        </span>
                                    </h1>
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="container-fluid fh5co_footer_bg pb-3">
        <div class="container animate-box">
            <!-- Footer Top -->
            <partial name="~/Views/Shared/Templates/24News/_FooterTop.cshtml" />
        </div>
    </div>
    <div class="container-fluid fh5co_footer_right_reserved">
        <!-- Footer Bottom -->
        <partial name="~/Views/Shared/Templates/24News/_FooterBottom.cshtml" />
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
    </div>

    <!-- 24 NEWS Footer Scripts -->
    <partial name="~/Views/Shared/Templates/24News/_FooterScripts.cshtml" />

</body>
</html>