<!-- Breaking News -->
<div class="flash-news-banner">
    <div class="container">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <span class="badge badge-danger mr-3">Breaking news</span>
                <p class="mb-0">
                    <a href="#" class="text-decoration-none text-dark">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </a>
                </p>
            </div>
            <div class="d-flex">
                @*<span class="mr-3 text-danger">Wed, March 4, 2020</span>
                <span class="text-danger">30°C,London</span>*@
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Search here...">
                    <div class="input-group-append">
                        <button class="btn btn-primary border border-white" type="submit">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>