<!-- Featured Body News -->
<div class="col-sm-6">
    <div class="card-title">
        Featured
    </div>
    <div class="border-bottom pb-3">
        <div class="rotate-img">
            <img src="~/assets/images/gambia/chinese.jpg"
                 alt="thumb"
                 class="img-fluid rounded" />
        </div>
        <p class="fs-16 font-weight-600 mb-0 mt-3">
            Chinese nationals demand to be flown home
        </p>
        <p class="fs-13 text-muted mb-0">
            <span class="mr-2">Photo </span>10 Minutes ago
        </p>
    </div>
    <div class="pt-3 pb-3">
        <div class="rotate-img">
            <img src="~/assets/images/gambia/nawec.jpg"
                 alt="thumb"
                 class="img-fluid rounded" />
        </div>
        <p class="fs-16 font-weight-600 mb-0 mt-3">
            NAWEC MD inspects project sites in rural Gambia
        </p>
        <p class="fs-13 text-muted mb-0">
            <span class="mr-2">Photo </span>10 Minutes ago
        </p>
    </div>
</div>