<!-- International News Home -->
<div class="col-sm-6">
    <div class="card-title">
        International news
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="border-bottom pb-3">
                <div class="row">
                    <div class="col-sm-5 pr-2">
                        <div class="rotate-img">
                            <img src="~/assets/images/international/int-1.jpg"
                                 alt="thumb"
                                 class="img-fluid w-100 rounded" />
                        </div>
                    </div>
                    <div class="col-sm-7 pl-2">
                        <p class="fs-16 font-weight-600 mb-0">
                            Joe Biden takes on Trump-era...
                        </p>
                        <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10
                            Minutes ago
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="border-bottom pb-3 pt-3">
                <div class="row">
                    <div class="col-sm-5 pr-2">
                        <div class="rotate-img">
                            <img src="~/assets/images/international/int-2.jpg"
                                 alt="thumb"
                                 class="img-fluid w-100 rounded" />
                        </div>
                    </div>
                    <div class="col-sm-7 pl-2">
                        <p class="fs-16 font-weight-600 mb-0">
                            Europa League kings Sevilla won..
                        </p>
                        <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10
                            Minutes ago
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="border-bottom pb-3 pt-3">
                <div class="row">
                    <div class="col-sm-5 pr-2">
                        <div class="rotate-img">
                            <img src="~/assets/images/international/int-3.jpg"
                                 alt="thumb"
                                 class="img-fluid w-100 rounded" />
                        </div>
                    </div>
                    <div class="col-sm-7 pl-2">
                        <p class="fs-16 font-weight-600 mb-0">
                            Belarus protests: Tikhanovskaya vows...
                        </p>
                        <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10
                            Minutes ago
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pt-3">
                <div class="row">
                    <div class="col-sm-5 pr-2">
                        <div class="rotate-img">
                            <img src="~/assets/images/international/int-4.jpg"
                                 alt="thumb"
                                 class="img-fluid w-100 rounded" />
                        </div>
                    </div>
                    <div class="col-sm-7 pl-2">
                        <p class="fs-16 font-weight-600 mb-0">
                            Coronavirus pandemic could be over within two years
                        </p>
                        <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10
                            Minutes ago
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>