<!-- Popular This Week -->
<div class="col-xl-6">
    <div class="card-title">
        Popular this week
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-8 col-sm-6">
            <div class="rotate-img">
                <img src="~/assets/images/gambia/grant.jpg"
                     alt="thumb"
                     class="img-fluid rounded" />
            </div>
            <h2 class="mt-3 text-primary mb-2">
                <a href="pages/single-post.html" class="text-primary text-decoration-none">
                    The 15 Million Grant
                </a>
            </h2>
            <p class="fs-13 mb-1 text-muted">
                <span class="mr-2">Photo </span>10 Minutes ago
            </p>
            <p class="my-3 fs-15">
                The Ministry of information is engaged in consultation with GPU and the Newspaper Publishers Association on how to make the disbursement of the grant...
            </p>
            <a href="#" class="font-weight-600 fs-16 text-dark">Read more</a>
        </div>
        <div class="col-xl-6 col-lg-4 col-sm-6">
            <div class="border-bottom pb-3 mb-3">
                <h3 class="font-weight-600 mb-0">
                    <a href="pages/single-post.html" class="text-dark text-decoration-none">
                        Social distancing is ..
                    </a>
                </h3>
                <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                </p>
                <p class="mb-0">
                    Social distancing, also called “physical distancing,” means keeping a safe space...
                </p>
            </div>
            <div class="border-bottom pb-3 mb-3">
                <h3 class="font-weight-600 mb-0">
                    <a href="pages/single-post.html" class="text-dark text-decoration-none">
                        Panic buying is forcing..
                    </a>
                </h3>
                <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                </p>
                <p class="mb-0">
                    Panic buying is forcing supermarkets to ration food and other supplies....
                </p>
            </div>
            <div class="border-bottom pb-3 mb-3">
                <h3 class="font-weight-600 mb-0">
                    <a href="pages/single-post.html" class="text-dark text-decoration-none">
                        Furious transport union president...
                    </a>
                </h3>
                <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                </p>
                <p class="mb-0">
                    The president of The Gambia National Transport Union, Omar Ceesay, has...
                </p>
            </div>
            <div>
                <h3 class="font-weight-600 mb-0">
                    <a href="pages/single-post.html" class="text-dark text-decoration-none">
                        Freelance journalists assaulted at Aqua Gambia
                    </a>
                </h3>
                <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                </p>
                <p class="mb-0">
                    Security officer at Aqua Gambia has assaulted 2 freelance journalists at the...
                </p>
            </div>
        </div>
    </div>
</div>