<!-- Popular Videos Home News -->
<div class="col-lg-8">
    <div class="card-title">
        Popular Videos
    </div>
    <div class="row">
        <div class="col-sm-6 grid-margin">
            <div class="position-relative">
                <div class="rotate-img">
                    <img src="~/assets/images/videos/video-1.jpg"
                         alt="thumb"
                         class="img-fluid" />
                </div>
                <div class="badge-positioned w-90">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">Lifestyle</span>
                        <div class="video-icon">
                            <i class="mdi mdi-play"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 grid-margin">
            <div class="position-relative">
                <div class="rotate-img">
                    <img src="~/assets/images/videos/video-2.jpg"
                         alt="thumb"
                         class="img-fluid" />
                </div>
                <div class="badge-positioned w-90">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">National News</span>
                        <div class="video-icon">
                            <i class="mdi mdi-play"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 grid-margin">
            <div class="position-relative">
                <div class="rotate-img">
                    <img src="~/assets/images/videos/video-3.jpg"
                         alt="thumb"
                         class="img-fluid" />
                </div>
                <div class="badge-positioned w-90">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">Lifestyle</span>
                        <div class="video-icon">
                            <i class="mdi mdi-play"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 grid-margin">
            <div class="position-relative">
                <div class="rotate-img">
                    <img src="~/assets/images/videos/video-4.jpg"
                         alt="thumb"
                         class="img-fluid" />
                </div>
                <div class="badge-positioned w-90">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger font-weight-bold">National News</span>
                        <div class="video-icon">
                            <i class="mdi mdi-play"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>