<!-- Top Stories Home -->
<div class="col-lg-9 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card-title">
                        Top Stories
                    </div>
                </div>
                <div class="col-sm-4 grid-margin">
                    <div class="position-relative">
                        <div class="rotate-img">
                            <img src="~/assets/images/gambia/nfally.jpg"
                                 alt="thumb"
                                 class="img-fluid rounded" />
                        </div>
                        <div class="badge-positioned">
                            <span class="badge badge-dark font-weight-bold">Featured</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8  grid-margin">
                    <h2 class="mb-2 font-weight-600">
                        <a href="pages/single-post.html" class="text-dark text-decoration-none">
                            OIC Gambia Secretariat optimistic of a successful summit despite COVID-19
                        </a>
                    </h2>
                    <div class="fs-13 mb-2">
                        <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                    <p class="mb-0">
                        Nfally Fadera, the head of brand and communication of the Organisation of the Islamic Cooperation, said they have no reason whatsoever to believe that...
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 grid-margin">
                    <div class="position-relative">
                        <div class="rotate-img">
                            <img src="~/assets/images/gambia/face_mask.jpg"
                                 alt="thumb"
                                 class="img-fluid rounded" />
                        </div>
                        <div class="badge-positioned">
                            <span class="badge badge-dark font-weight-bold">Featured</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8  grid-margin">
                    <h2 class="mb-2 font-weight-600">
                        <a href="pages/single-post.html" class="text-dark text-decoration-none">
                            Court Fines 3 Jalokoto Residents for Failing to Wear Facemasks
                        </a>
                    </h2>
                    <div class="fs-13 mb-2">
                        <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                    <p class="mb-0">
                        A trial magistrate in Briakama has on Monday fined three residents of Foni Jalokoto one thousand dalasis (D1000) each for violating the...
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="position-relative">
                        <div class="rotate-img">
                            <img src="~/assets/images/gambia/covid_gambia.jpg"
                                 alt="thumb"
                                 class="img-fluid rounded" />
                        </div>
                        <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold">Breaking news</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2 class="mb-2 font-weight-600">
                        <a href="pages/single-post.html" class="text-dark text-decoration-none">
                            Gambia Registers 14 New COVID-19 Related Deaths Bringing the total number of deaths to 77
                        </a>
                    </h2>
                    <div class="fs-13 mb-2">
                        <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                    <p class="mb-0">
                        he Gambia has on Wednesday 19th August 2020 registered fourteen (14) new COVID-19 related deaths bringing the total number of deaths...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>