@{
    ViewData["Parent-0"] = "";
    ViewData["Parent-1"] = "";
    ViewData["Title"] = "Account Dashboard";
}

<!-- Account sub navigation partial -->
<partial name="~/Views/Shared/AccountLayout/_SubNavigation.cshtml" view-data="ViewData">

<div class="content-wrapper">
    <div class="container">
        <!-- Account breadcrumbs-->
        <partial name="~/Views/Shared/AccountLayout/_BreadCrumb.cshtml" view-data="ViewData">

        <div class="row" data-aos="fade-up">

            <!-- Account left side bar-->
            <partial name="~/Views/Shared/AccountLayout/_LeftSideBar.cshtml" view-data="ViewData">

            <!-- Account dashboard summary -->
            <partial name="~/Views/Shared/AccountLayout/_DashboardSummary.cshtml" view-data="ViewData">

        </div>

    </div>
</div>
<!-- container-scroller ends -->
