@model NetNews.Models.AccountsDataModel.AccountsModel

@using Microsoft.AspNetCore.Http
@using AppHelpers.App_Code
@inject IHttpContextAccessor HttpContextAccessor
@{
    var Url = "https://" + Context.Request.Host + Context.Request.Path; //get current url path

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- ADMIN Footer -->
    <partial name="~/Views/Shared/AccountLayout/_Head.cshtml" />
</head>

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign Up</h3></div>
                                <div class="card-body">
                                    <form asp-controller="SignUp" asp-action="Index" method="post" id="SignInForm">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- Action messages partial -->
                                                <partial name="~/Views/Shared/_ProcessMessage.cshtml" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control letters-only" asp-for="FirstName" maxlength="50" placeholder="First Name" required>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control letters-only" asp-for="LastName" maxlength="50" placeholder="Last Name" required>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" asp-for="Email" maxlength="50" placeholder="Email" required>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                            <div id="CheckEmailExists"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" asp-for="Password" maxlength="50" placeholder="Password" required>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="ConfirmPassword" maxlength="50" id="ConfirmPassword" placeholder="Confirm Password" required>
                                            <div id="PasswordInfo"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the Terms and Conditions' : '');" id="field_terms" value="Agree" name="terms" required="required">
                                                    I Read and Accept <a href="https://www.termsandconditionsgenerator.com/live.php?token=5xkFlX7XVrgIKIar64FB3ICNQY8M9bv9" target="_blank">Terms and Conditions</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-2 mb-0">
                                            <button type="submit" id="SubmitButton" class="btn btn-primary btn-block p-3 font-weight-bold mt-4 disable-on-click">
                                                Sign Up
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a asp-controller="SignIn" asp-action="Index">Already registered?</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- ADMIN Footer -->
        <partial name="~/Views/Shared/AccountLayout/_AdminFooter.cshtml" />
    </div>


    <!-- Modals data -->
    <partial name="~/Views/Shared/Modals/_ActionModals.cshtml" view-data="ViewData" />

    <!-- ADMIN RESOURCES -->
    <partial name="~/Views/Shared/AccountLayout/_AdminFooterScripts.cshtml" />
</body>
</html>
